.grid {
    display: grid;
    grid-template-columns: repeat(5, 8rem);
    grid-auto-rows: 8rem;
    justify-items: center;
    align-items: center;
    background: transparent;
  }
  
  .loading-box {
    width: calc(100% - 1rem);
    height: calc(100% - 1rem);
    
    ;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ig {
    transform: scale(2);
    transform-origin: 0 0;
    background-color: transparent;
  }  
 .modal div {
     border: none;
     height: 50vh;
     display: flex;
     align-items: center;
     background: transparent

 } 
 