*{
    
  width: 100%;
  background: url("background\ image.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
 
  
  
}
section{
  width: 350px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
 margin-top: 170px;
 background: whitesmoke ;
 padding: 20px;
 border-radius: 10px;


}
.signupdiv{
  margin-top: 50px;
}
.mainh1{
  text-align: center;
  background: whitesmoke;
}
form{
  background: whitesmoke !important;
}
section input{
  display: block;
  margin-top: 10px;
  background: whitesmoke !important;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-bottom: 2px solid purple;
  

  
}
section input:focus{
  outline: none ;
}

.passdiv{
  background: whitesmoke !important;
  display: flex;
  align-items: center;
  width: 250px;
  
  margin: 0 auto;
  

}
.eyebtn{
  background: whitesmoke ;
  border: none;
  width: 40px;
}
.passdiv i{
  background: whitesmoke ;
}




p{
  font-size: 13px;
 padding: 0 20px;
  margin: 10px 0 10px 10px;
  background: whitesmoke;
  font-weight: bold;
 
}
button{
  
  width: 250px;
  margin: 0 auto;
}

.mybtn{
  color: grey;
  margin-top: 10px;
  background: aqua !important;
  color: whitesmoke;
}
.signupbtn{
  background: royalblue !important;
}
.profilediv{
  
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profilediv h3{
  background: whitesmoke ;
  padding: 20px;
}
.whitesmokebg{
  background: url("white\ smoke\ bg.jpg");
}
.closebtn{
  width: 150px;
  border-radius: 10px;
  color: whitesmoke;
  font-weight: bold;
  background: url("white\ smoke\ bg.jpg");
}
.modaltitle{
  color: whitesmoke;
  background:url("white\ smoke\ bg.jpg") ;
}
.modalbody p{
  background: url("white\ smoke\ bg.jpg") ;
  color: whitesmoke;
  margin-left: 0;
  padding-left: 0;
  font-size: 18px;
}
label.filebutton {
  width:40px;
  height:40px;
  overflow:hidden;
  position:relative;
  top: 12px;
  cursor: pointer;
  background-image: url("cam \icon.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}

label input {
  z-index: 999;
  line-height: 0;
  font-size: 50px;
  position: absolute;
  top: -2px;
  left: -700px;
  opacity: 0;
  filter: alpha(opacity = 0);
  -ms-filter: "alpha(opacity=0)";
  cursor: pointer;
  _cursor: hand;
  margin: 0;
  padding:0;

}

 
@media only screen and (max-width : 400px) {
  section {
      width: 100%;
  }
 
  p{
     width: 100%;
     padding: 0 40px;
  }
 
}
@media only screen and (max-width : 340px) {
  button ,section input , .passdiv , p{
      width: 100%;
  }
  p{
    margin: 10px auto;
    padding: 0;

  }
  .eyebtn{
      width: 30px;
  }

  
}
